/*.table {
	table-layout: fixed;
}*/
.container{
	max-width: 850px;
}
#header{
	/*border: 5px solid blue;*/
}
#search-area{	
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top: 7px;
	padding-bottom: 7px;
	overflow: auto;
	width: 100%;
}
#search-subject-form{
	float: left;
}
#new-subject-button{
	float: right;
}
#search-results{
	display: none;
}