/*.table {
	table-layout: fixed;
}*/
.container{
	max-width: 850px;
}
#header{
	/*border: 5px solid blue;*/
}
#search-area{	
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top: 7px;
	padding-bottom: 7px;
	overflow: auto;
	width: 100%;
}
#search-subject-form{
	float: left;
}
#new-subject-button{
	margin-left: 7px;
}
#search-results-area{
	display: none;
}
#add-new-subject-area{
	display: none;
}
#add-new-subject-area input{
	max-width: 200px;
}
#update-area{
	display: none;
}
/*#update-area select{
	max-width: 200px;
}*/